name: Test JSON

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Debug folders
        run: |
          echo "ROOT:"
          ls -R .

      - name: Test jq parsing
        run: |
          sudo apt-get update && sudo apt-get install -y jq
          cat channels/temples.json
          jq . channels/temples.json
