name: Update YouTube Live M3U

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install tools
        run: sudo apt-get update && sudo apt-get install -y jq curl

      - name: Generate M3U
        run: |
          echo "#EXTM3U" > yt.m3u

          jq -c '.channels[]' channels/temples.json | while read -r row; do
            NAME=$(echo "$row" | jq -r '.name')
            YTID=$(echo "$row" | jq -r '.youtube')

          
            LIVE=$(curl -s "https://www.youtube.com/@$YTID/live" \
              | tr '\n' ' ' \
              | grep -o '"videoId":"[A-Za-z0-9_-]*","isLive":true' \
              | sed 's/"videoId":"//;s/","isLive":true//' \
              | head -n 1)

            if [ -z "$LIVE" ]; then
              URL="https://www.youtube.com/@$YTID/live"
            else
              URL="https://www.youtube.com/$LIVE"
            fi

            echo "#EXTINF:-1,$NAME" >> yt.m3u
            echo "$URL" >> yt.m3u
          done

      - name: Commit updated M3U
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add yt.m3u
          git commit -m "Auto-update M3U" || echo "No changes to commit"
          git push
